@font-face {
  font-family: "g";
  src: url("../font/Glysa-Medium.woff2") format("woff2"),
    url("../font/Glysa-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
